html {
    scroll-behavior: smooth;
}



footer {
    background-color: #1A4162;
}


.car:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
    transition: all 400ms ease;

}